.contacto {
    @include section-height;
    background-image: url(../img/mapa-contacto.jpg);
    min-height: 80rem;

    @include center-align-frame;

    &__content {
        @include center-align-transform;
        top: 50%;
        left: 50%;

    }

    &__heading-cont {
        text-align: center;
        margin-bottom: 3.5rem;
    }

    &__heading {
        text-transform: uppercase;
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    &__sub-heading {
        text-transform: uppercase;
        font-size: 1.35rem;
    }

    &__form {
        width: 55vw;

        &-element {
            display: inline-block;
            background-color: rgba($color-black, .8);
            padding: .8rem 1.5rem;
            border: 1px solid transparent;
            border-radius: .8rem;
            margin-bottom: 1.5rem;
            color: $color-red;
            width: 100%;
            font-family: $normal-font;
            font-weight: 500;

            &--1{
                width: calc((100% - 1.5rem) / 2);

                &:nth-child(1) {
                    margin-right: 1.1rem;
                }

                &:nth-child(3) {
                    margin-right: 1.1rem;
                }
            }

            &::-webkit-input-placeholder {
                color: $color-red !important;    
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: $color-red !important;
            }
            
            &::-moz-placeholder {  /* Firefox 19+ */
                color: $color-red !important;
            }
            
            &:-ms-input-placeholder {
                color: $color-red !important;
            }

        }
    }

    &__submit {
        border: none;
        border-radius: .8rem;
        background-color: rgba($color-black, .8);
        color: $color-red;
        float: right;
        padding: 1rem 2rem;
        font-family: $normal-font;
        font-weight: 500;
        text-transform: uppercase;

        &:hover,
        &:focus {
            background-color: $color-black;
        }
    }

    .footer {
        text-transform: uppercase;
        text-align: center;
        font-family: $normal-font;
        position: absolute;
        width: 100%;
        margin-top: 10vh;

        a{
            color: white;
        }
    }

    .scroll-box {
        position: absolute;
        padding-top: 12%;
        width: 2.5rem;
        left: 49%;
        z-index: 299;
    }
    .scroll-line{
        position: absolute;
        padding-top: 7%;
        left: 50%;
        width: 1px;
        height: 22%;
        background: white;
    }
}

@media screen and (max-width: 991px) {
    .contacto {

        &__form {
            width: 80vw;

            &-element {

                &--1 {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .contacto {
        
        &__heading {
            font-size: 4.5rem;
        }

        &__sub-heading {
            font-size: 1.2rem;
        }
    }
}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (orientation: landscape){
    .contacto .scroll-box {
        padding-top: 13%;
        left: 48%;
    }
}