
// font-family: 'Saira Semi Condensed', sans-serif;
// font-family: 'Saira', sans-serif;

$normal-font: 'Montserrat', sans-serif;
$condensed-font: 'Montserrat', sans-serif;

$color-red: #ff495c;
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #b0d31e;
$color-violet: #797fbb;
$color-dark: #1d1d1b;
$color-grey: #525659;